a, a:visited {
  color: #993300;
  text-decoration: none;
}

body {
  background: white;
  color: black;
  font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
	line-height: 150%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5px;
  padding: 0px;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
  margin-left: 2%;
}

h3, h4, h5, h6 {
  font-size: large;
  margin-left: 5%;
}

h2.title, h2.subtitle, h3.author, h3.title, h3.subtitle {
	line-height: 100%;
  margin-left: 0px;
  text-align: left;
}

h3.editor, h4.editedby, p.copyright {
  display: none;
}

table {
  border-color: black;
  border-width: 2;
}

.epigraph {
  font-size: small;
  margin-bottom: 40px;
  text-align: right;
}

pre.programlisting, pre.screen, code {
  font-family: "Courier New", Courier, fixed;
}

pre.programlisting {
  margin-left: 10px;
}

p.note, div.example pre.programlisting, pre.screen {
  background-color: #eeeeee;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  padding-left: 5px;
}

div.example pre.programlisting {
  border-color: black;
  border-style: dashed;
  border-width: 1px;
}

.epigraph, .list-of-examples, .list-of-figures, .toc, div.example pre.programlisting, pre.screen {
	line-height: 110%;
}

.copyright-notice, .navheader, .navfooter {
  color: black;
  font-size: small;
	line-height: 110%;
  text-decoration: none;
  width: 100%;
}

.copyright-notice {
  margin-top: 10px;
}

.filename {
  font-style: italic;
}

.navheader, .navfooter {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  -moz-border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 2px;
}

.navheader hr, .navfooter hr {
  display: none;
}

.table table {
  border: 1px #eeeeee solid;
  border-spacing: 0px;
}

.table td {
  border: 1px #eeeeee solid;
  text-align: left;
  vertical-align: top;
}

.table th {
  background: #eeeeee;
  border: 1px #eeeeee solid;
  text-align: left;
  vertical-align: top;
}

.sidebar {
  display: none;
}
